driver=transient-single-equationset
assembler=bioseparation
problem-name=bioseparation
nx=128
ny=56
ndims=2
input=Inline
element-type=Triangular
triangulation=SWtoNE
x0=0.0
xf=1.6
y0=0.0
yf=0.7
basis-order=1
steady=true
xml-out=false
compute-convergence-error=false
write-output-vtk=false
write-output-matlab=true
compute-convergence-error=false
prob-biosep-x0=0.0
prob-biosep-xf=1.6
prob-biosep-omega=0.84
prob-biosep-rho_s=1.0
prob-biosep-q_max=150.0
prob-biosep-flowrate=0.1
prob-biosep-K_eq=2.06
prob-biosep-alphaL=1.37
prob-biosep-alphaT=0.137
prob-biosep-d0=0.0000228
afc-enabled=false
stepper-theta=0.5
stepper-dt=0.03125
stepper-t0=0
stepper-tf=100
newton-linear-solver=bicgstab
newton-max-its=5
newton-tol=1.0e-6






