driver=steady-single-equationset
assembler=poisson
nx=50
ny=50
ndims=2
input=Inline
element-type=Triangular
triangulation=UnionJack
x0=0.0
xf=1.0
y0=0.0
yf=1.0
basis-order=1
steady=true
xml-out=false
write-output-matlab=true
write-output-vtk=true
compute-convergence-error=false
newton-linear-solver=bicgstab
newton-max-its=1
compute-convergence-errors=true
